node_modules/
dist/
server/data/*.zip
server/data/*.bin.gz
server/data/download.log
server/data/download.err.log
server/data/server.log
server/data/server.log.err
server/data/*.in
server/data/*.out
server/data/gtp_custom.cfg
server/data/analysis_custom.cfg
server/gtp_logs/
server/analysis_logs/
.tools/
.env
*.log
server/data/opencl/
server/data/cuda/
server/data/*.err
*.lnk
